
<%# link_to "映画を検索する", url: search_movies_path, class: "movie-search" %>
<%= link_to "映画を投稿する", new_movie_path, class: "movie-post" %>

<div class="contents row">つぶやき 
  <% if @tweets.present? %><% @tweets.last(5).each do |tweet| %>
    <div class="content_post">
      <p><%= tweet.content %> <%= tweet.user.nickname %> <%= tweet.created_at %></p>

        <ul class="more_list">
        <li>
          <%= link_to '編集', edit_tweet_path(tweet.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', tweet_path(tweet.id), method: :delete %>
        </li>
        </ul>
      </div>
      </span>
    </div>
  <% end %><% end %>
</div>

<div class="contents row">
  <div class="container">
    <h3>つぶやく</h3>
    <%= form_with model: @tweet, url: tweets_path(@tweet.id), local: true do |form| %>
    <%= render 'shared/error_messages', model: form.object %>
      <%= form.text_area :content, placeholder: "text", rows: "3" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>

      <li class='list'>最近投稿された映画
      <% @movies.last(5).each do |movie| %>
        <%= link_to movie_path(movie.id) do %>
        <div class='movie-img-content'>
        <% if movie.image.present? %>
          <%= image_tag movie.image, class: "movie-img" %>
<% end %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= movie.name %>
          </h3>
        </div>
        <% end %>
      </li>
                          <% end %>
<%# image_tag movie.image, class: 'movie-image' if movie.image.attached? %>
