
<%# link_to "映画を検索する", url: search_movies_path, class: "movie-search" %>
<%= link_to "映画を投稿する", new_movie_path, class: "movie-post" %>

<div class="contents row">つぶやき 
  <% if @tweets.present? %><% @tweets.first(5).each do |tweet| %>
    <div class="content_post">
      <p><%= tweet.content %> <%= tweet.user.nickname %> <%= tweet.created_at %></p>

        <ul class="more_list">
        <% if current_user.id == tweet.user_id %>
        <li>
          <%= link_to '編集', edit_tweet_path(tweet.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', tweet_path(tweet.id), method: :delete %>
        </li><% end %>
        </ul>
      </div>
      </span>
    </div>
  <% end %><% end %>
</div>

<div class="contents row">
  <div class="container">
    <h3>つぶやく</h3>
    <%= form_with model: @tweet, url: tweets_path(@tweet.id), local: true do |form| %>
    <%= render 'shared/error_messages', model: form.object %>
      <%= form.text_area :content, placeholder: "text", rows: "2" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>
<div class="co">
<div class="con">
      <li class='lists'>最近投稿された映画
      <% @movies.first(5).each do |movie| %>
      <div class="flow">
        <div class="move">
        <%= link_to movie_path(movie.id) do %>
        <div class='movie-img-content'>
        <% if movie.image.present? %>
          <%= image_tag movie.image, class: "movie-img" %>
<% end %>
        </div>
          <h3 class='item-name'>
            <%= movie.name %><% end %> <%= movie.category.name %> <%= movie.country.name %>
          </h3>
        </div></div>
      </li></div></div>
                          <% end %>


      <% if @evaluations.present? %>
      最近投稿された評価
      <li class='list'>
      <% @evaluations.each do |evaluation| %>
      <div class='item-img-content'>
        <%= link_to url: "/movies/#{evaluation.movie_id}/evaluations/#{evaluation.id}", class:"image" do %>
        <% if evaluation.spoiler.present? %>
        <%= evaluation.movie.name %> <div class="spoiler">※ネタバレ注意⚠︎ </div>
        <% end %>
        <% if evaluation.title.present? %>
        <%= evaluation.title %> 評価点:<%= evaluation.point %>点
        <% end %>
        <%= link_to evaluation.user.nickname, user_path(evaluation.user.id), class:"user-nickname" %>
              </div>
      <% end %>
      <% end %>
      <% end %>
