<div class="post-title">映画投稿</div>
<div class="movie-main">
    <%= form_with model: @movie,　url: "/movies(@movie.id)", method: :create, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
        <div class="img-upload">
      <div class="weight-bold-text">
        出品画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>


      <div class="weight-bold-text">
        映画名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"movie-text", id:"movie-name", placeholder:"題名（必須 40文字まで)", maxlength:"40" %>
</div>

    <div class="items-detail">
      <div class="weight-bold-text">映画の詳細</div>
      <div class="form">
            <div class="items-explain">
          映画の説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :detail, class:"items-text", id:"item-info", placeholder:"映画の説明（必須 1,000文字まで）（内容、俳優、監督、好きなところ、注意点など）例）2010年頃に一世を風靡した映画。新しい映像は老若男女の心を鷲掴みにした。" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
            <div class='input-expiration-date-wrap'>
        <p>作成国,実写orアニメ</p>
          <%= f.collection_select(:country_id, Country.all, :id, :name, {}, {class:"select-box", id:"movie-category"}) %>
        </div>
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"movie-category"}) %>
        </div>
        <div class='input-expiration-date-wrap'>
        <p>公開年</p>
          <%= f.collection_select(:release_date_id, ReleaseDate.all, :id, :name, {}, {class:"select-box", id:"movie-category"}) %>
        </div>
        <div class="actions">
           <%= f.submit "投稿する" %>
        </div>
        </div>

        <% end %>