<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @movie.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @movie.image ,class:"movie-box-img" %>評価 <% if Evaluation.present? %><%= @points %><% end %>
      評価する<% if user_signed_in? && @evaluation.present? %>
      <%= form_with url: movie_evaluations_path(@evaluation.movie_id), method: :patch, local: true do |f| %>
            <div class="items-explain">点数:100点満点<span class="indispensable">必須</span>
            </div>
            <%= f.text_area :point, class:"point", id:"point", placeholder:"例）100", rows:"1", maxlength:"3" %>
        </div>
            <div class="form">
            <div class="items-explain"><span class="indispensable">※以下任意項目 題名</span>
            </div>
            <%= f.text_area :title, class:"title", id:"title", placeholder:"例）100" %>
        </div>
            <div class="form">
            <div class="items-explain"><span class="indispensable">ネタバレ(有の場合 チェック)</span>
            </div>
            <%= f.check_box :spoiler, class:"spoiler", id:"spoiler", autofocus: true %>
        </div>
            <div class="form">
            <div class="items-explain"><span class="indispensable">評価内容</span>
            </div>
            <%= f.text_area :content, class:"content", id:"content", placeholder:"例）面白い！ 500文字以内" ,rows:"7", maxlength:"500" %>
        </div>
        <%= f.submit "投稿する" %>
        <% end %>
      <% elsif user_signed_in? %>
            <%= form_with url: movie_evaluations_path(@movie.id), method: :create, local: true do |f| %>
            <div class="items-explain">点数:100点満点<span class="indispensable">必須</span>
            </div>
            <%= f.text_area :point, class:"point", id:"point", placeholder:"例）100", rows:"1", maxlength:"3" %>
        </div>
            <div class="form">
            <div class="items-explain"><span class="indispensable">※以下任意項目 題名</span>
            </div>
            <%= f.text_area :title, class:"title", id:"title", placeholder:"例）100", rows:"7" %>
        </div>
            <div class="form">
            <div class="items-explain"><span class="indispensable">ネタバレ(有の場合 チェック)</span>
            </div>
            <%= f.check_box :spoiler, class:"spoiler", id:"spoiler", autofocus: true %>
        </div>
            <div class="form">
            <div class="items-explain"><span class="indispensable">評価内容</span>
            </div>
            <%= f.text_area :content, class:"content", id:"content", placeholder:"例）面白い！ 500文字以内", rows:"7", maxlength:"500" %>
        </div>
        <%= f.submit "投稿する" %>
        <% end %>
        <% else %>
        <% end %>
    </div>


    <%= link_to '映画の編集', edit_movie_path(@movie.id), method: :get, class: "movie-red-btn" %>
    <%# link_to '映画削除依頼', movie_path(@movie.id) %>


    <div class="item-explain-box">
<tbody>
<tr>
      <th class="detail-item">説明</th>
      <td class="detail-value"><%= @movie.detail %></td>
      <tr>
    </div>
    <table class="detail-table">
      
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @movie.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">公開年</th>
          <td class="detail-value"><%= @movie.release_date.name %></td>
        </tr>
        <tr>
          <th class="detail-item">映画の種類</th>
          <td class="detail-value"><%= @movie.country.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>

    </div>
  </div>


  <div class="comment-box">
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
    <%# if user_signed_in? %>
      <%# form_with(model: [@movie, @comment], local: true) do |form| %>
        <%# form.text_area :text, placeholder: "コメントする", rows: "2", class: "comment-text" %>
        <%# form.submit "コメントする", class: "comment-btn" %>
      <%# end %>
    <%# else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <%# end %>
  </div>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p class="comment-square">
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
            <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
          </p>
        <% end %>
      <% end %>
    </div>

  <a href="#" class='another-item'><%= @movie.category.name %>をもっと見る</a>
</div>

<%= render "shared/footer" %>