<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @movie.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @movie.image ,class:"movie-box-img" %>平均点 <% if @evaluations.present? %><%= @points %>
      <% @evaluations.each do |evaluation| %>
        <%= link_to url: "/movies/#{@movie.id}/evaluations/#{evaluation.id}" do %>
        みんなの評価：
        <% if evaluation.spoiler.present? %>
        <div class="spoiler">※ネタバレ注意⚠︎ </div>
        <% end %>
        <% if evaluation.title.present? %>
        <%= evaluation.title %> 評価点:<%= evaluation.point %>点
        <% end %>
        <%= link_to evaluation.user.nickname, user_path(evaluation.user.id), class: "user-nickname" %>
      <% end %>
      <% end %>
      <% end %>
      <% if user_signed_in? && @eva.present? %>
      <div>自分の過去評価</div>
        <%= link_to url: "/movies/#{@movie.id}/evaluations/#{@eva.id}" do %>
        <% if @eva.spoiler.present? %>
        <div class="spoiler">※ネタバレ注意⚠︎ </div>
        <% end %>
        <% if @eva.title.present? %>
        <%= @eva.title %> 評価点:<%= @eva.point %>点
        <% end %>
      <% end %>

      <div>評価し直す</div>
      <%= form_with model: @eva, url: "/movies/#{@movie.id}/evaluations/#{@eva.id}", method: :patch, local: true do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
            <div class="items-explain">点数:100点満点<span class="indispensable">必須</span>
            </div>
            <%= f.text_area :point, class:"point", id:"point", placeholder:"例）100", rows:"1", maxlength:"3" %>
        </div>
            <div class="form">
            <div class="items-explain"><span class="indispensable">※以下任意項目 題名</span>
            </div>
            <%= f.text_area :title, class:"title", id:"title", placeholder:"例）風と共に去りぬ", rows:"1" %>
        </div>
            <div class="form">
            <div class="items-explain"><span class="indispensable">ネタバレ(有の場合 チェック)</span>
            </div>
            <%= f.check_box :spoiler, class:"spoiler", id:"spoiler", autofocus: true %>
        </div>
            <div class="form">
            <div class="items-explain"><span class="indispensable">評価内容</span>
            </div>_
            <%= f.text_area :content, class:"content", id:"content", placeholder:"例）面白い！ 500文字以内" ,rows:"7", maxlength:"500" %>
        </div>
        <%= f.submit "投稿する" %>
        <% end %>
      <% elsif user_signed_in? %>
      <div>評価する</div>
            <%= form_with model: @evaluation, url: movie_evaluations_path(@movie.id, @evaluation.id), method: :create, local: true do |f| %>
            <%= render 'shared/error_messages', model: f.object %>
            <div class="items-explain">点数:100点満点<span class="indispensable">必須</span>
            </div>
            <%= f.text_area :point, class:"point", id:"point", placeholder:"例）100", rows:"1", maxlength:"3" %>
        </div>
            <div class="form">
            <div class="items-explain"><span class="indispensable">※以下任意項目 題名</span>
            </div>
            <%= f.text_area :title, class:"title", id:"title", placeholder:"例）風と共に去りぬ", rows:"1" %>
        </div>
            <div class="form">
            <div class="items-explain"><span class="indispensable">ネタバレ(有の場合 チェック)</span>
            </div>
            <%= f.check_box :spoiler, class:"spoiler", id:"spoiler", autofocus: true %>
        </div>
            <div class="form">
            <div class="items-explain"><span class="indispensable">評価内容</span>
            </div>
            <%= f.text_area :content, class:"content", id:"content", placeholder:"例）面白い！ 500文字以内", rows:"7", maxlength:"500" %>
        </div>
        <%= f.submit "投稿する" %>
        <% end %>
        <% else %>
        <% end %>
    </div>


    <%= link_to '映画の編集', edit_movie_path(@movie.id), method: :get, class: "movie-red-btn" %>


    <div class="item-explain-box">
<tbody>
<tr>
      <th class="detail-item">説明</th>
      <td class="detail-value"><%= @movie.detail %></td>
      <tr>
    </div>
    <table class="detail-table">
      
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @movie.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">公開年</th>
          <td class="detail-value"><%= @movie.release_date.name %></td>
        </tr>
        <tr>
          <th class="detail-item">映画の種類</th>
          <td class="detail-value"><%= @movie.country.name %></td>
        </tr>
      </tbody>
    </table>
    <% if !Favorite.exists? %>
    <%= link_to "お気に入り", movie_favorites_path(@movie.id),method: :post %>
    <% else %>
    <%= link_to "お気に入り解除", movie_favorites_path(@movie.id),method: :delete %>
    <% end %>

    </div>
  </div>

  <a href="#" class='another-item'><%= @movie.category.name %>をもっと見る</a>
</div>